li{
    padding: 10px;
}

body  {  	
	margin: 90%;  	
	padding: 0;  	
/*	background: #ddd;  */
	} 
	   
.container {
	width: 100%;  	
/*	background: #fff;  */
	} 

.cabecalho{
	display: inline-block;
/*	background: #CF3;*/
}

.nav{ 
	display: inline-block;
	float: left;  	
	width: 15%;       
        
/*	background: #6F9;*/
}

.conteudo{
	display: inline-block;
	float: right;  	
	width: 85%;  	
/*	background: #9FC;*/
}



/*******
*Header*
********/


.logos_esquerda_header{
    display: inline-block; 
    width: 15%;
    float:left;
    text-align: center;
    
/*    background-color: lightblue;
    border: 3px solid;*/
}
/*Logos*/
#facom{
    float:center-left;
}
#ufms{
    float:center-right;
}
#embrapa{
    display:block;
    margin-left: auto;
    margin-right: auto;
}


.logos_direita_header{
    display: inline-block;
    width: 25%;
    float:right;
    text-align: center;

  /*  background-color: lightblue;
    border: 3px solid;*/
}
#usp{
    float:center-left;
}
#unicamp{
    float:center;
}
#ufgd{
    float:center-right;
}
#waterloo{
    margin-left: auto;
    margin-right: auto;

}
#unb{
    margin-left: auto;
    margin-right: auto;
}
 
 
.titulo_header{
    display: inline-block;
    font-size: 23px;
    text-align: center;
    width: 59%;
    height: auto;
/*    background-color: purple;
    border: 3px solid;*/

}


/*Navigation menu*/

.menu{
    line-height: 1em;
    padding: 1px;    
    /*background-color: red;
    border: 3px solid;*/
}

.funded_by{

    /*background-color: red;
    border: 3px solid;*/
}

/*Home*/
.mapa{
    display: block;
    
    width: 520px;
    height: 425px;
    
    position: relative;
    left: 25%;
    
    /*background-color: red;
    border: 3px solid;*/
}

#iframe_mapa {
    display: block;
    width: 100%;
    height: 320px;
    border: none;    
}

#iframe_bibliografia {
    display: block;
    width: 100%;
    height: 600px;
    border: none;    
}



/* Geral */
.texto{
    display: block;
    margin-right: 5em;
    text-align: justify;
    
    /*background-color: blue;
    border: 3px solid;*/
}

.contato p{
    margin: 0em;    
}

.artigo{

    /*background-color: red;
    border: 3px solid;*/
}


#autor{
    line-height: 16px;
    margin-top: 0px;
    margin-bottom: 0em;
}
#titulo{
    font-weight: bold;
    line-height: 16px;
    margin-top: 0px;
    margin-bottom: 0em;
}
#revista{
    line-height: 16px;
    margin-top: 0px;
    margin-bottom: 20px;
}