/*CSS para estilo de Caderno
*http://cssdeck.com/labs/css3-notebook-paper
*/

html { 
    min-width: 1024px;
 }
body {    
    margin: 20px;    
    padding-top: 60px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0px;
    
    
  /* gradients - second red border, first red border, top white space, blue lines */
    background-image:  -webkit-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -webkit-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -webkit-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -webkit-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -moz-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -moz-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -moz-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -moz-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -ms-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -ms-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -ms-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -ms-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -o-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -o-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -o-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -o-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-size: 1px, 1px, auto, auto 20px;
    background-repeat: repeat-y, repeat-y, no-repeat, repeat;
    background-position: 90% 0px, 10% 0px, 0px 0px, 0px 0px;
}

p {
  text-align: justify;
  display: block; 
  line-height: 20px;
  
}

h1{
    line-height: 60px;
}

h2{
    line-height: 40px;
}

h3{
    line-height: 20px;
}

img{
    align: center;
}

pre {
    font-size: 130%;
}

li {
    text-align: justify;
}

/*
*Texto flutuando
*http://www.w3schools.com/howto/howto_css_tooltip.asp
*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*
*CSS para classe collapsable
*http://stackoverflow.com/questions/19170781/show-hide-divs-on-click-in-html-and-css-without-jquery
*/
.collapse{
    cursor: pointer;
    display: block;
}
.collapse + input{
    display: none; /* hide the checkboxes */
}
.collapse + input + div{
    display:none;
}
.collapse + input:checked + div{
    display:block;
}


/*
*CSS para o circulo com + dentro
*/
.circulo {
	background: #CCCBBB;	
	border-radius: 30px;
	color: white;
	cursor: pointer;
	text-align: center;
	width: 30px;

	float: left;
/*	margin-bottom: 25px;
	margin-right: 5;
	opacity: .95;*/
	text-decoration: none;
/*    height: 40px;*/
/*    box-shadow: 0px 2px 5px rgba(94, 94, 94, 0.68);*/
}


/*
*CSS para o circulo grande com + dentro
*/
.circulo_grande {
	background: #CCCBBB;	
	border-radius: 60px;
	color: white;
	cursor: pointer;
	text-align: center;
	width: 60px;

	float: left;
/*	margin-bottom: 25px;
	margin-right: 5;
	opacity: .95;*/
	text-decoration: none;
/*    height: 40px;*/
/*    box-shadow: 0px 2px 5px rgba(94, 94, 94, 0.68);*/
}


